*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #app, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, cyan, lightgreen);
}

.app {
  height: 100%;
  width: 100%;
}