.left-sidebar {
  --width: 200px;

  position: absolute;
  width: var(--width);
  height: 100%;
  left: 0;
  transition: left 0.2s ease-in-out;
  background-color: whitesmoke;
  border-right: 1px solid lightgray;
}

.left-sidebar.collapsed {
  left: calc(0px - var(--width));
}