.header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-bottom: 1px solid lightgray;
}

.left-anchor {
  display: flex;
}

.right-anchor {
  display: flex;
  justify-content: flex-end;
}

.settings {
  margin: 0;
}